{% extends 'base.html.twig' %}

{% block title %}Source founds|edit{% endblock %}
 {% block breadcrumb %}
     <nav class="page-breadcrumb">
         <ol class="breadcrumb">
             <li class="breadcrumb-item"><a href="#">Source founds</a></li>
             <li class="breadcrumb-item active" aria-current="page">Edit</li>
         </ol>
     </nav>
 {% endblock %}
{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-header bg-primary">
                </div>
                <div class="card-body">
                    <form id="form_country" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <label for="message-text" class="form-label">Name</label>
                                <input value="{{ sourcefunds.name }}" type="text" name="name" class="form-control" id="recipient-name">
                            </div>
                            <div class="col-sm-12 mb-3">
                                <div class="form-check form-switch">
                                    <input value="{{ sourcefunds.status }}" type="checkbox" name="status" class="form-check-input" id="formSwitch1">
                                    <label class="form-check-label" for="formSwitch1">Status</label>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Update source found</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
