{% extends 'base_agent.html.twig' %}

{% block title %}Transaction history{% endblock %}
 {% block breadcrumb %}
     <nav class="page-breadcrumb">
         <ol class="breadcrumb">
             <li class="breadcrumb-item"><a href="#">Managers</a></li>
             <li class="breadcrumb-item active" aria-current="page">Customers</li>
         </ol>
     </nav>
 {% endblock %}
{% block body %}
{% endblock %}
