{% extends 'base_user.html.twig' %}
{% block title %}
    Remittance| profil
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .banner-area {
            height: 85px !important;
            position: relative;
        }
        .select2-container--default .select2-selection--single {
            width: 250px !important;
        }
        .select2-container--open .select2-dropdown--below {
            width: 250px !important;
        }
    </style>
{% endblock %}
{% block body %}
    <section class="banner-area  d-block d-md-flex align-items-center"
             style="background-image:  url({{ asset('assets/front/images/banner-bg.png') }});">
    </section>
    <section class="ico-sale-area pt-30 pb-100">
        <div class="row justify-content-center">
            <div class="col-md-6 justify-content-center">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        Change password
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <div class="row">
                                <div class="col-6 mb-3">
                                    <label for="message-text" class="form-label">Old paasword:</label>
                                    <input  type="password" name="oldpassword" class="form-control"
                                           id="name">
                                </div>

                                <div class="col-6 mb-3">
                                    <label for="message-text" class="form-label">New password:</label>
                                    <input type="password" name="newpassword" class="form-control"
                                            id="address">
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <button type="submit" id="send" class="btn btn-primary btn-block sending-btn">CHANGE PASSWORD
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}


