{% extends 'base_user.html.twig' %}
{% block title %}
    Remittance| Dashboard
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .banner-area {
            height: 85px !important;
            position: relative;
        }
    </style>
{% endblock %}
{% block body %}
    <section class="banner-area d-block d-md-flex align-items-center"
             style="background-image:  url({{ asset('assets/front/images/banner-bg.png') }});">
    </section>
    <section class="ico-sale-area pt-100 pb-100">
        <div class="row">
            <div class="col-md-4"></div>
        </div>
    </section>
    <section class="ico-sale-area pt-100 pb-100">
        <div class="container">
            <div class="card">
                <div class="card-header bg-primary">

                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <td>Transaction N°</td>
                            <td>Reciepient</td>
                            <td>Amount send</td>
                            <td>Rate</td>
                            <td>Status</td>
                            <td>Action</td>
                        </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
