{% extends 'base_user.html.twig' %}
{% block title %}
    Remittance| profil
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .banner-area {
            height: 85px !important;
            position: relative;
        }
    </style>
{% endblock %}
{% block body %}
    <section class="banner-area d-block d-md-flex align-items-center"
             style="background-image:  url({{ asset('assets/front/images/banner-bg.png') }});">
        <div class="container">

        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}


