{% extends 'base.html.twig' %}
{% block title %}
{% endblock %}
 {% block breadcrumb %}
     <nav class="page-breadcrumb">
         <ol class="breadcrumb">
             <li class="breadcrumb-item"><a href="#">Agents</a></li>
             <li class="breadcrumb-item active" aria-current="page">Add</li>
         </ol>
     </nav>
 {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card card">
            <div class="card-header">
            </div>
            <div class="card-body">
                <form method="post" action="{{ path('app_manager_agent_new') }}">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="mb-3">
                                <label class="form-label">Name</label>
                                <input type="text" name="name" class="form-control" placeholder="Enter name">
                            </div>
                        </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label class="form-label">Email</label>
                                    <input type="email" name="email" class="form-control" placeholder="Enter email">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="mb-3">
                                    <label class="form-label">Phone</label>
                                    <input type="text" name="phone" class="form-control" placeholder="Enter phone">
                                </div>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="mb-3">
                                <label class="form-label">Password</label>
                                <input name="password" type="password" class="form-control" placeholder="Enter password">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mb-3">
                                <label class="form-label">Repeat password</label>
                                <input type="password" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="mb-3">
                                <label class="form-label">Country</label>
                                <input name="country" type="text" class="form-control" placeholder="Enter country">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" class="btn btn-primary submit">Submit</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}



